/* src/index.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #3fd465;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin: 5px 0 15px 0;
    display: block;
    width: 90%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h2 {
    color: #3fd465;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}